// Variables - Get the unicode values from fonts/ionicons.svg after
//   running the generate.py script
// ===============================================
$ionicon-var-shipt-barcode-scanner: "\f13b";
$ionicon-var-shipt-checkbox-selected: "\f13c";
$ionicon-var-shipt-checkbox-unselected: "\f145";
$ionicon-var-shipt-list: "\f14c";
$ionicon-var-shipt-icon-add: "\f152";
$ionicon-var-shipt-icon-close: "\f153";
$ionicon-var-shipt-icon-filled-checkmark: "\f154";
$ionicon-var-shipt-icon-remove: "\f155";
$ionicon-var-shipt-scanner-small: "\f156";
$ionicon-var-shipt-radio-selected: "\f157";
$ionicon-var-shipt-radio-unselected: "\f158";
$ionicon-var-shipt-add-note: "\f159";

// Content Mapping
// ===============================================
.ion-shipt-barcode-scanner:before {
  content: $ionicon-var-shipt-barcode-scanner;
}

.ion-shipt-checkbox-selected:before {
  content: $ionicon-var-shipt-checkbox-selected;
}

.ion-shipt-checkbox-unselected:before {
  content: $ionicon-var-shipt-checkbox-unselected;
}

.ion-shipt-list:before {
  content: $ionicon-var-shipt-list;
}

.ion-shipt-icon-add:before {
  content: $ionicon-var-shipt-icon-add;
}

.ion-shipt-icon-close:before {
  content: $ionicon-var-shipt-icon-close;
}

.ion-shipt-icon-filled-checkmark:before {
  content: $ionicon-var-shipt-icon-filled-checkmark;
}

.ion-shipt-icon-remove:before {
  content: $ionicon-var-shipt-icon-remove;
}

.ion-shipt-scanner-small:before {
  content: $ionicon-var-shipt-scanner-small;
}

.ion-shipt-radio-selected:before {
  content: $ionicon-var-shipt-radio-selected;
}

.ion-shipt-radio-unselected:before {
  content: $ionicon-var-shipt-radio-unselected;
}

.ion-shipt-add-note:before {
  content: $ionicon-var-shipt-add-note;
}

// Style Inheritance
// ===============================================
.#{$ionicons-prefix}shipt-barcode-scanner:before,
.#{$ionicons-prefix}shipt-checkbox-selected:before,
.#{$ionicons-prefix}shipt-checkbox-unselected:before,
.#{$ionicons-prefix}shipt-list:before,
.#{$ionicons-prefix}shipt-icon-add:before,
.#{$ionicons-prefix}shipt-icon-close:before,
.#{$ionicons-prefix}shipt-icon-filled-checkmark:before,
.#{$ionicons-prefix}shipt-icon-remove:before,
.#{$ionicons-prefix}shipt-scanner-small:before,
.#{$ionicons-prefix}shipt-radio-selected:before,
.#{$ionicons-prefix}shipt-radio-unselected:before
.#{$ionicons-prefix}shipt-add-note:before
{
  @extend .ion;
}

// Styling
// ===============================================
.ion-shipt-barcode-scanner,
.ion-shipt-checkbox-selected,
.ion-shipt-checkbox-unselected,
.ion-shipt-list,
.ion-shipt-icon-add,
.ion-shipt-icon-close,
.ion-shipt-icon-filled-checkmark,
.ion-shipt-icon-remove,
.ion-shipt-scanner-small,
.ion-shipt-radio-selected,
.ion-shipt-radio-unselected,
.ion-shipt-add-note {
  display: inline-block;
  font-family: "Ionicons";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  text-rendering: auto;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
