// Variables - Get the unicode values from fonts/ionicons.svg after
//   running the generate.py script
// ===============================================
$ionicon-var-shipt-barcode-scanner: "\f13b";
$ionicon-var-shipt-checkbox-selected: "\f13c";
$ionicon-var-shipt-checkbox-unselected: "\f145";
$ionicon-var-shipt-list: "\f14c";
$ionicon-var-shipt-icon-add: "\f152";
$ionicon-var-shipt-icon-close: "\f153";
$ionicon-var-shipt-icon-filled-checkmark: "\f154";
$ionicon-var-shipt-icon-remove: "\f155";
$ionicon-var-shipt-scanner-small: "\f156";
$ionicon-var-shipt-radio-selected: "\f157";
$ionicon-var-shipt-radio-unselected: "\f158";
$ionicon-var-shipt-add-note: "\f159";
$ionicon-var-shipt-address: "\f15a";
$ionicon-var-shipt-curbside: "\f162";
$ionicon-var-shipt-autopilot: "\f15b";
$ionicon-var-shipt-barcode: "\f15c";
$ionicon-var-shipt-buy-again: "\f15d";
$ionicon-var-shipt-cart: "\f15f";
$ionicon-var-shipt-category: "\f160";
$ionicon-var-shipt-date: "\f163";
$ionicon-var-shipt-delivery-instructions: "\f164";
$ionicon-var-shipt-edit: "\f166";
$ionicon-var-shipt-email: "\f167";
$ionicon-var-shipt-help: "\f168";
$ionicon-var-shipt-info: "\f16a";
$ionicon-var-shipt-invite: "\f16b";
$ionicon-var-shipt-orders: "\f16d";
$ionicon-var-shipt-phone: "\f16e";
$ionicon-var-shipt-product-note: "\f16f";
$ionicon-var-shipt-rewards: "\f171";
$ionicon-var-shipt-search: "\f173";
$ionicon-var-shipt-time: "\f174";
$ionicon-var-shipt-credit: "\f161";

// Content Mapping
// ===============================================
.ion-shipt-barcode-scanner:before {
  content: $ionicon-var-shipt-barcode-scanner;
}

.ion-shipt-checkbox-selected:before {
  content: $ionicon-var-shipt-checkbox-selected;
}

.ion-shipt-checkbox-unselected:before {
  content: $ionicon-var-shipt-checkbox-unselected;
}

.ion-shipt-list:before {
  content: $ionicon-var-shipt-list;
}

.ion-shipt-icon-add:before {
  content: $ionicon-var-shipt-icon-add;
}

.ion-shipt-icon-close:before {
  content: $ionicon-var-shipt-icon-close;
}

.ion-shipt-icon-filled-checkmark:before {
  content: $ionicon-var-shipt-icon-filled-checkmark;
}

.ion-shipt-icon-remove:before {
  content: $ionicon-var-shipt-icon-remove;
}

.ion-shipt-scanner-small:before {
  content: $ionicon-var-shipt-scanner-small;
}

.ion-shipt-radio-selected:before {
  content: $ionicon-var-shipt-radio-selected;
}

.ion-shipt-radio-unselected:before {
  content: $ionicon-var-shipt-radio-unselected;
}

.ion-shipt-add-note:before {
  content: $ionicon-var-shipt-add-note;
}

.ion-shipt-address:before {
  content: $ionicon-var-shipt-address;
}

.ion-shipt-curbside:before {
  content: $ionicon-var-shipt-curbside;
}

.ion-shipt-autopilot:before {
  content: $ionicon-var-shipt-autopilot;
}

.ion-shipt-barcode:before {
  content: $ionicon-var-shipt-barcode;
}

.ion-shipt-buy-again:before {
  content: $ionicon-var-shipt-buy-again;
}

.ion-shipt-cart:before {
  content: $ionicon-var-shipt-cart;
}

.ion-shipt-category:before {
  content: $ionicon-var-shipt-category;
}

.ion-shipt-date:before {
  content: $ionicon-var-shipt-date;
}

.ion-shipt-delivery-instructions:before {
  content: $ionicon-var-shipt-delivery-instructions;
}

.ion-shipt-edit:before {
  content: $ionicon-var-shipt-edit;
}

.ion-shipt-email:before {
  content: $ionicon-var-shipt-email;
}

.ion-shipt-help:before {
  content: $ionicon-var-shipt-help;
}

.ion-shipt-info:before {
  content: $ionicon-var-shipt-info;
}

.ion-shipt-invite:before {
  content: $ionicon-var-shipt-invite;
}

.ion-shipt-orders:before {
  content: $ionicon-var-shipt-orders;
}

.ion-shipt-phone:before {
  content: $ionicon-var-shipt-phone;
}

.ion-shipt-product-note:before {
  content: $ionicon-var-shipt-product-note;
}

.ion-shipt-rewards:before {
  content: $ionicon-var-shipt-rewards;
}

.ion-shipt-search:before {
  content: $ionicon-var-shipt-search;
}

.ion-shipt-time:before {
  content: $ionicon-var-shipt-time;
}

.ion-shipt-credit:before {
  content: $ionicon-var-shipt-credit;
}

// Style Inheritance
// ===============================================
.#{$ionicons-prefix}shipt-barcode-scanner:before,
.#{$ionicons-prefix}shipt-checkbox-selected:before,
.#{$ionicons-prefix}shipt-checkbox-unselected:before,
.#{$ionicons-prefix}shipt-list:before,
.#{$ionicons-prefix}shipt-icon-add:before,
.#{$ionicons-prefix}shipt-icon-close:before,
.#{$ionicons-prefix}shipt-icon-filled-checkmark:before,
.#{$ionicons-prefix}shipt-icon-remove:before,
.#{$ionicons-prefix}shipt-scanner-small:before,
.#{$ionicons-prefix}shipt-radio-selected:before,
.#{$ionicons-prefix}shipt-radio-unselected:before,
.#{$ionicons-prefix}shipt-add-note:before,
.#{$ionicons-prefix}shipt-address:before,
.#{$ionicons-prefix}shipt-curbside:before,
.#{$ionicons-prefix}shipt-autopilot:before,
.#{$ionicons-prefix}shipt-barcode:before,
.#{$ionicons-prefix}shipt-buy-again:before,
.#{$ionicons-prefix}shipt-cart:before,
.#{$ionicons-prefix}shipt-category:before,
.#{$ionicons-prefix}shipt-date:before,
.#{$ionicons-prefix}shipt-delivery-instructions:before,
.#{$ionicons-prefix}shipt-edit:before,
.#{$ionicons-prefix}shipt-email:before,
.#{$ionicons-prefix}shipt-help:before,
.#{$ionicons-prefix}shipt-info:before,
.#{$ionicons-prefix}shipt-invite:before,
.#{$ionicons-prefix}shipt-orders:before,
.#{$ionicons-prefix}shipt-phone:before,
.#{$ionicons-prefix}shipt-product-note:before,
.#{$ionicons-prefix}shipt-rewards:before,
.#{$ionicons-prefix}shipt-search:before,
.#{$ionicons-prefix}shipt-time:before,
.#{$ionicons-prefix}shipt-credit:before
{
  @extend .ion;
}

// Styling
// ===============================================
.ion-shipt-barcode-scanner,
.ion-shipt-checkbox-selected,
.ion-shipt-checkbox-unselected,
.ion-shipt-list,
.ion-shipt-icon-add,
.ion-shipt-icon-close,
.ion-shipt-icon-filled-checkmark,
.ion-shipt-icon-remove,
.ion-shipt-scanner-small,
.ion-shipt-radio-selected,
.ion-shipt-radio-unselected,
.ion-shipt-add-note,
.ion-shipt-address,
.ion-shipt-curbside,
.ion-shipt-autopilot,
.ion-shipt-barcode,
.ion-shipt-buy-again,
.ion-shipt-cart,
.ion-shipt-category,
.ion-shipt-date,
.ion-shipt-delivery-instructions,
.ion-shipt-edit,
.ion-shipt-email,
.ion-shipt-help,
.ion-shipt-info,
.ion-shipt-invite,
.ion-shipt-orders,
.ion-shipt-phone,
.ion-shipt-product-note,
.ion-shipt-rewards,
.ion-shipt-search,
.ion-shipt-time,
.ion-shipt-credit {
  display: inline-block;
  font-family: "Ionicons";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  text-rendering: auto;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
